@model IEnumerable<ApoliSys.Models.Segurado>

@{
    ViewData["Title"] = "Segurados";
}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover table-nowrap mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-user"></i>
                                Nome
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-id-card"></i>
                                CPF
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-baby"></i>
                                Data de Nascimento
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-square-phone"></i>
                                Número p/ Contato
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-calendar"></i>
                                Faixa Salarial
                            </div>
                        </th>
                        <th></th><!-- Botoes -->
                        <th></th><!-- Link p/veiculos -->
                    </tr>
                </thead>
                <tbody id="list">
                    <tr>
                        <td colspan="10">
                            <div class="table-cell-icon">
                                <i class="fa fa-plus"></i>
                                Cadastrar um segurado
                            </div>
                            <a href="~/Segurado/Cadastrar" class="stretched-link"></a>
                        </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdPessoaNavigation.Nome)
                            </td>
                            <td>
                                @string.Format(@"{0:000\.000\.000\-00}", Convert.ToUInt64(item.IdPessoaNavigation.CpfCnpj))
                            </td>
                            <td>
                                @item.IdPessoaNavigation.DataNascimento.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @string.Format(@"{0:(00) 00000-0000}", Convert.ToUInt64(item.IdPessoaNavigation.Celular))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FaixaSalarial)
                            </td>
                            <td class="table-cell-buttons">
                                <div class="d-flex justify-content-end">
                                    <a href="~/Segurado/Modificar/@item.Id" class="btn btn-table">
                                        <i class="fa fa-pen"></i>
                                    </a>
                                    <a href="~/Segurado/@item.Id" class="btn btn-table">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                    <button class="btn btn-table remove" data-id-segurado="@item.Id">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td colspan="0">
                                <a class="stretched-link" href="~/Segurado/@item.Id/Veiculo"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/Segurado/Index.js" defer></script>