@model IEnumerable<ApoliSys.Models.Apolice>

@{
    ViewData["Title"] = "Apólices";
}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover table-nowrap mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-tag "></i>
                                Número da Apólice
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-receipt"></i>
                                Processo SUSEP
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-money-bill"></i>
                                Data de Emissão / Término da Vigência
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-clock"></i>
                                Status 
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10">
                            <div class="table-cell-icon">
                                <i class="fa fa-plus"></i>
                                Emitir uma Apólice
                            </div>
                            <a href="~/Cotacao/@ViewBag.IdCotacao/Apolice/Cadastrar" class="stretched-link"></a>
                        </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class='@(item.Status == status_apolice.cancelada ? "table-line-disabled" : "")'>
                            <td class="apolice-numero">
                                <div class="avatar avatar-circle avatar-xs">
                                    <i class="fa fa-file-alt align-middle"></i>
                                </div>
                                <span>@item.NumeroApolice</span>
                            </td>
                            <td class="apolice-susep">
                                @item.ProcessoSusep
                            </td>
                            <td class="apolice-data-emissao">
                                @item.DataEmissao.ToString("dd/MM/yyyy") - @item.DataTermino.ToString("dd/MM/yyyy")
                            </td>
                            <td class="apolice-status">
                                <div class="table-cell-icon">
                                    @if (item.Status == status_apolice.emitida)
                                    {
                                        <i class="fa fa-circle-check circle-check-green"></i>
                                        <span>@Html.DisplayFor(modelItem => item.Status)</span>
                                    } else
                                    {
                                        <i class="fa fa-times-circle times-circle-red"></i>
                                        <span>@Html.DisplayFor(modelItem => item.Status)</span>
                                    }
                                </div>
                            </td>
                            <td class="table-cell-buttons">
                                <div class="d-flex justify-content-end">
                                    <a href="~/Cotacao/@item.IdCotacao/Apolice/Modificar/@item.Id" class='btn btn-table me-2 @(item.Status == status_apolice.cancelada ? "disabled" : "")'>
                                        <i class="fa fa-pen"></i>
                                    </a>
                                    <button class="btn btn-table me-2 border-0 cancelar" data-id-apolice="@item.Id" @(item.Status == status_apolice.cancelada ? "disabled" : "")>
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                    <button class="btn btn-table remove" data-id-apolice="@item.Id">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                    <tr class="d-none"><!-- Aprovada -->
                        <td class="apolice-numero">
                            <div class="avatar avatar-circle avatar-xs">
                                <i class="fa fa-file-alt align-middle"></i>
                            </div>
                            <span>000000002</span>
                        </td>
                        <td class="apolice-susep">
                            91928364123789347173
                        </td>
                        <td class="apolice-data-emissao">
                            22/10/2022 - 22/10/2023
                        </td>
                        <td class="apolice-status">
                            <div class="table-cell-icon">
                                <i class="fa fa-circle-check circle-check-green"></i>
                                Aprovada
                            </div>
                        </td>
                        <td class="table-cell-buttons">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-table me-2">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button class="btn btn-table me-2 border-0 cancelar">
                                    <i class="fa fa-times-circle"></i>
                                </button>
                                <button class="btn btn-table remove">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-line-disabled d-none"><!-- Cancelada -->
                        <td class="apolice-numero">
                            <div class="avatar avatar-circle avatar-xs">
                                    <i class="fa fa-file-alt align-middle"></i>
                            </div>
                            <span class="name">000000001</span>
                        </td>
                        <td class="apolice-susep">
                            91928364123789347173
                        </td>
                        <td class="apolice-data-emissao">
                            22/10/2022 - 22/10/2023
                        </td>
                        <td class="apolice-status">
                            <div class="table-cell-icon">
                                <i class="fa fa-times-circle times-circle-red"></i>
                                Cancelada
                            </div>
                        </td>
                        <td class="table-cell-buttons">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-table me-2 border-0" disabled>
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button class="btn btn-table me-2 border-0 cancelar" disabled>
                                    <i class="fa fa-times-circle"></i>
                                </button>
                                <button class="btn btn-table remove">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/Apolice/Index.js" defer></script>
